version: 2.1

jobs:
  build:
    docker:
      - image: cimg/openjdk:14.0.1
    steps:
      - checkout
      - run: java --version

orbs:
  maven: circleci/maven@0.0.12

workflows:
  maven_test:
    jobs:
      - maven/test # checkout, build, test, and upload test results
